body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 540px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 16pt;
  padding: 8px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  font-size: 16pt;
  padding: 16px 8px;
  margin-bottom: 8px;
}

.button-container {
  background: #e3f4ff;
  font-size: 16pt;
  text-align: center;
  padding: 8px;
}

button {
  display: block;
  margin: 0 auto;
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
  font-size: 16pt;
}